<div class="header">
    <div class="btn" id="btn-menu" tabindex="0">
        <span class="material-icons">menu</span>
    </div>
    <div class="logo"><a href="/">SALLEA</a></div>
    <div class="btn" id="btn-refresh" tabindex="0">
        <span class="material-icons">refresh</span>
    </div>
</div>