<div class="header">
    <%- include(components + 'button', {name: 'menu', icon: 'menu'} ) %>
    <div class="logo"><a href="/">SALLEA</a></div>
    <% if (locals.images) { %>
    <%- include(components + 'button', {name: 'refresh', icon: 'refresh'} ) %>
    <% } else { %>
    <%- include(components + 'button', {name: 'download', icon: 'file_download'} ) %>
    <% } %>
</div>