<div id="gallery" class="load" tabindex="-1">
    <div class="load-box">
        <span class="material-icons">circle</span>
        <span class="material-icons">circle</span>
        <span class="material-icons">circle</span>
        <span class="material-icons">circle</span>
    </div>
    <% images.forEach(img => { %>
    <div class="img" style="display: none" tabindex="0">
        <img src="/i/<%= img %>?width=320">
        <a href="/f/<%= img %>" class="btn btn-float btn-image" tabindex="-1">
            <span class="material-icons-outlined">image</span>
        </a>
        <a href="/d/<%= img %>" class="btn btn-float btn-download" tabindex="-1">
            <span class="material-icons-outlined">file_download</span>
        </a>
    </div>
    <% }) %>
</div>